<!DOCTYPE html>
<html>

<head>
    <title>Detected Sounds</title>
    <style>
        #sounds-list {
            max-height: 300px;
            /* Hauteur maximale de la liste */
            overflow-y: auto;
            /* Défilement automatique */
        }
    </style>
</head>

<body>
    <h1>Latest Detected Sounds</h1>
    <ul id="sounds-list">
        {% for sound in sounds %}
        <li>{{ sound }}</li>
        {% empty %}
        <li>No sounds detected yet.</li>
        {% endfor %}
    </ul>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var soundSocket = new WebSocket(
            ws_scheme + '://' + window.location.host + '/ws/sounds/'
        );

        soundSocket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            var sound = data['message'];
            console.log("Received sound:", sound);
            var node = document.createElement("LI");
            var textnode = document.createTextNode(formatSound(sound));
            node.appendChild(textnode);
            document.getElementById("sounds-list").appendChild(node);
            scrollToEnd();
        };

        soundSocket.onclose = function (e) {
            console.error('Sound socket closed unexpectedly');
        };

        function formatSound(sound) {
            // Format the sound object to a readable string
            let formattedSound = `Sound: \n`;

            for (let property in sound) {
                formattedSound += `${property}: ${sound[property]}\n`;
            }

            return formattedSound;
        }

        function scrollToEnd() {
            var soundsList = document.getElementById("sounds-list");
            soundsList.scrollTop = soundsList.scrollHeight;
        }
    });
</script>

</html>